[Unit]
Description=ProximityChat-Unit
After=tile38.service
Requires=tile38.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill proximity-chat
ExecStartPre=-/usr/bin/docker rm proximity-chat
ExecStartPre=/usr/bin/docker pull sdwolfe32/proxychat:latest
ExecStart=/usr/bin/docker run --name proximity-chat -p 80:8000 --link tile38:tile38 sdwolfe32/proxychat:latest
ExecStop=/usr/bin/docker stop proximity-chat