[Unit]
Description=Tile38-Unit
After=docker.service
Requires=docker.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill tile38
ExecStartPre=-/usr/bin/docker rm tile38
ExecStartPre=/usr/bin/docker pull tile38/tile38:edge
ExecStart=/usr/bin/docker run --name tile38 -v /home/core/tile38:/data tile38/tile38:edge
ExecStop=/usr/bin/docker stop tile38