body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #CAD5DD;
}

textarea, select, input, button {
    outline: none;
}

#map {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.title {
    padding: 20px 20px 8px 20px;
    font-weight: 900;
    text-transform: uppercase;
}


.box {
    z-index: 10;
    background: #E3E9ED;
    color: #2F404B;
    display: flex;
    flex-direction: column;
}

.green-left {
    border-left: 2px solid #A2D321;
}

.box.quarter {
    max-width: 250px;
    min-width: 250px;
}

.box.left {
    position: absolute;
    top: 28px;
    left: 28px;
    bottom: 34px;
}

.box.right {
    position: absolute;
    top: 28px;
    right: 28px;
    bottom: 34px;
}

.box>.mast {
    background: #fff;
}

.logo {
    display: block;
    width: 112px;
    height: 40px;
    margin: 16px auto;
}

.box>.info {
    background: #EEF1F4;
    color: #2F404B;
    font-size: 12px;
    margin: 10px;
    padding: 15px;
}

.box>.messages {
    position: relative;
    bottom: 0px;
    height: 100%;
    overflow-y: auto;
    margin: 15px;
    margin-bottom: 0;
}

.box>.input {
    border: 0;
    font-size: 15px;
    padding: 15px 20px;
    margin: 10px;
    background-color: #F4F6F7;
    color: #2F404B;
    bottom: 15px;
}

::placeholder {
    color: #BBC1C4;
}

