body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #CAD5DD;
}
body{
    position: absolute;
}
* {
    box-sizing: border-box;
}
textarea, select, input, button {
    outline: none;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.box {
    z-index: 10;
    position: relative;
    _background: rgba(227,233,237,0.6);
    background: rgba(227,233,237,1);
    color: #2F404B;
    display: flex;
    flex-direction: column;
}

.mapboxgl-ctrl-top-right{
    margin-top: 4px;
    margin-right: 4px;
}

.green-left {
    border-left: 2px solid #A2D321;
}

.box.quarter {
    width: 200px;
}

.box.left {
    height: 100%;
}

.box>.mast {
    background: #fff;
}

.logo {
    display: block;
    width: 112px;
    height: 40px;
    margin: 16px auto;
}

.box>.info {
    background: #EEF1F4;
    color: #2F404B;
    font-size: 12px;
    margin: 10px;
    padding: 15px;
}

.box>.messages {
    position: relative;
    bottom: 0px;
    height: 100%;
    overflow-y: auto;
    margin: 15px;
    margin-bottom: 0;
}

.box>.input {
    border: 0;
    font-size: 15px;
    padding: 15px 20px;
    margin: 10px;
    background-color: #F4F6F7;
    color: #2F404B;
    bottom: 15px;
}

::placeholder {
    color: #BBC1C4;
}

.chat-text {
    color: #2F404B;
}



@media only screen and (max-width: 640px) {
    .box {
        background:transparent;
        pointer-events: none;
    }
    .box.left {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 34px;
    }
    .box.quarter {
        max-width: 100%;
        min-width: 100%;
    }
    
    .box>.input {
        pointer-events: auto;
    }
    

    .mapboxgl-ctrl-top-right{
        margin-top: 74px;
        margin-right: 4px;
    }
    

}

